Q1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].


---


  i. WAP to add 200 and 300 to L.

  ii. WAP to remove 10 and 30 from L.

  iii. WAP to sort L in ascending order.
  
  iv. WAP to sort L in descending order.

In [1]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
# 1
lst.append(200)
lst.append(300)
print(lst)
# 2
lst.remove(10)
lst.remove(30)
print(lst)
# 3
lst.sort()
print(lst)
# 4
lst.sort(reverse=True)
print(lst)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Q2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:


---


i. Identify the highest score and its index in the tuple.

ii. Find the lowest score and count how many times it appears.

iii. Reverse the tuple and return it as a list.

iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.

In [2]:
tple = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
# first
print(max(tple))
print(tple.index(max(tple)))
# second
print(min(tple))
print(tple.count(min(tple)))
# third
print(list(reversed(tple)))
# fourth
x = float(input("Enter Score : "))
if (x in tple):
  print(tple.index(x))
else:
  print("Not Found")

92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter Score : 89.5
1

Q3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the :


---


i. All odd numbers

ii. All even numbers

iii. All prime numbers

In [3]:
import random
rand_arr = [random.randint(100,900) for _ in range(100)]

# first
print("ODD")
for i in rand_arr:
  print(i) if i%2!=0 else ""


# second
print("EVEN")
for i in rand_arr:
  print(i) if i%2==0 else ""


# third
print("PRIME")
for i in rand_arr:
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

ODD
151
759
103
811
715
789
561
727
421
717
853
869
557
117
587
587
635
339
371
875
763
335
339
433
693
299
469
577
419
161
349
399
455
649
695
385
167
241
117
469
351
789
471
163
287
799
867
297
463
769
339
281
269
EVEN
754
214
298
614
726
656
370
394
704
482
448
572
138
578
224
698
708
784
158
664
282
464
506
256
322
314
800
344
688
368
304
464
844
302
124
170
858
658
752
884
566
766
830
384
868
542
774
PRIME
151
103
811
727
421
853
557
587
587
433
577
419
349
167
241
163
463
769
281
269

Q4. Consider the following two sets, A and B, representing scores of two teams in muliple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:


---


i. Find the unique scores achieved by both teams (union of sets).

ii. Identify the scores that are common to both teams (intersection of sets).

iii. Find the scores that are exclusive to each team (symmetric difference).

iv. Check if the scores of team A are a subset of team B, and if team B's scores area superset of team A.

v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [5]:
a = {34, 56, 78, 90}
b = {78, 45, 90, 23}

# first

unique_scores = a | b
print("Unique scores:", unique_scores)

# second
common_scores = a & b
print("Common scores:", common_scores)

# third

exclusive_scores = a ^ b
print("Exclusive scores:", exclusive_scores)


# fourth
is_subset = a.issubset(b)
print("Is a a subset of B?", is_subset)
is_superset = b.issuperset(a)
print("Is b a superset of a?", is_superset)



# v. Remove a specific score from set a
x = int(input("Enter a score to remove from a: "))
if x in a:
    a.remove(x)
    print("Set a after removal:", a)
else:
    print(f"Score {x} not found in set a.")

Unique scores: {34, 45, 78, 23, 56, 90}
Common scores: {90, 78}
Exclusive scores: {34, 45, 23, 56}
Is a a subset of B? False
Is b a superset of a? False
Enter a score to remove from a: 56
Set a after removal: {34, 90, 78}

Q5. Write a program to rename a key city to a location in the following dictionary.

In [6]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict["location"] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}